@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    background: black;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    padding: 20px;
    height: 100%;
}

a {
    color: darkorchid;
}

code {
    background: #404040;
    border-radius: 5px;
    padding: 3px;
}

footer {
    margin: 5px;
    margin-left: auto;
    margin-top: auto;
    color: #757575;
    font-size: 0.75em;
}

li::marker {
    color: darkorchid;
}

/***
 * navbar components
 ***/

nav {
    width: 100%;
    text-decoration: none;
    margin-bottom: 20px;
    background: #303030;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

li.nav-element {
    padding: 10px;
}

a.nav-link {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.25rem;
    font-weight: 400;
    transition: border-bottom 0.1s ease-in-out;
}

@media all and (max-width: 400px) {
    nav ul {
        justify-content: space-evenly;
    }

    nav ul li a {
        font-size: 1em;
    }
}

nav ul li a:hover {
    border-bottom: 3px solid white;
    border-radius: 2px;
}

a.current-page {
    border-radius: 2px;
    border-bottom: 3px solid darkorchid;
}

/***
 * / specific
 ***/

main#home-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

section#home-name {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    color: whitesmoke;
    flex-direction: row;
    font-family: 'Share Tech Mono', monospace;
}

span#home-name-real, span#home-name-alias {
    font-size: 3em;
}

span#home-name-divider {
    font-size: 5em;
    color: darkorchid;
}

@media all and (max-width: 650px) {
    section#home-name {
        font-size: 10px;
    }
}

@media all and (max-width: 400px) {
    section#home-name {
        font-size: 7px;
    }
}

section#home-socials {
    margin-top: auto;
    align-content: stretch;
    display: flex;
    flex-direction: row;
}

section#home-socials a {
    padding: 15px;
    font-size: 1.25em;
    color: whitesmoke;
    transition: color 0.2s ease-in-out;
}

section#home-socials a:hover {
    color: darkorchid;
}

section#home-logo {
    overflow: hidden;
    align-self: center;
    border-radius: 100%;
    background-color: lightgray;
    border: 20px solid gray;
    transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
    min-height: 256px;
    margin-bottom: 20px;
}

section#home-logo:hover {
    border-color: darkorchid;
    background-color: whitesmoke;
}

/***
 * /about specific
 ***/

main#about {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

@media all and (max-width: 600px) {
    main#about {
        max-width: 80%;
    }
}

.about-section {
    margin-bottom: 20px;
}

aside {
    width: min-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.float-right { 
    float: right;
}

.float-left {
    float: left;
}

aside i {
    font-size: 0.75em;
    color: #505050;
}

/***
 * /project specific
 ***/

main#project {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.project-container {
    margin: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #404040;
}

.project-link {
    text-decoration: none;
}

.project-link h1 {
    margin-bottom: 15px;
    border-radius: 2px;
    width: max-content;
    font-family: 'Share Tech Mono', monospace;
    font-size: 2em;
    border-bottom: 3px solid darkorchid;
    text-decoration-line: none;
    color: whitesmoke;
}


/***
 * /contact specific
 ***/
main#contact-main {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
}

main#contact-main span {
    margin-top: 20px;
    margin-bottom: 20px;
}

main#contact-main span i {
    margin-right: 20px;
    font-size: 1.25em;
}

/***
 * /404.html specific
 ***/

main#main-404 {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

span#error-text {
    font-family: 'Share Tech Mono', monospace;
    font-size: 4em;
    margin: auto;
}

.accent-text {
    color: darkorchid;
}