<nav>
    <ul>
        <li class="nav-element">{% render 'nav_entry', href: '/index.html', page: current_page, content: 'Home' %}</li>
        <li class="nav-element">{% render 'nav_entry', href: '/about.html', page: current_page, content: 'About' %}</li>
        <li class="nav-element">{% render 'nav_entry', href: '/projects.html', page: current_page, content: 'Projects' %}</li>
        <li class="nav-element">{% render 'nav_entry', href: '/contact.html', page: current_page, content: 'Contact' %}</li>
    </ul>
</nav>