<main id="about">
    <section class="about-section">
        <aside class="float-right">
            <img src="https://images-na.ssl-images-amazon.com/images/I/31bY8+yRQEL.jpg" alt="My first programming book" style="width: 128px;"/>
            <i>My first programming book</i>
        </aside>
        <p>
            I've been passionate about programming since I was 10 years old. My mother's girlfriend bought me a book
            on Java and I would sit there for hours trying to transcribe the examples without even understanding what I was doing.
            <br />   
            Since then, I've found myself exploring every facet of programming possible. OS development, low level engineering, microcontrollers, text processing,
            and my personal favorite, real time chat applications.  
        </p>
    </section>
    <section class="about-section">
        <p>
            I spend most of my days writing code for OSS projects including <a href='https://github.com/shardlab/discordrb'>discordrb</a>, <a href='https://github.com/shardlab/discordcr'>discordcr</a>, <a href='https://github.com/discordapp/discord-api-docs'>Discord API documentation</a>, and many smaller ventures.
            <br />
            In the past, I've contributed to larger projects such as Hexchat, pry, and the Fancy programming language.
        </p>
    </section>
    <section class="about-section">
        <p>
            The past few years I've had my interest piqued in penetration testing. I've been active on the popular CTF site HackTheBox where I
            was a member of the team Fiend and ranked consistently as the third highest ranked team. This gave me the opportunity to advance my skills in networking, reverse engineering,
            cryptography, as well as commonly used enumeration tools. It was also my inspiration for creating <a href="https://github.com/swarley/eviler-winrm">eviler-winrm</a>, a tool
            for assisting in penetrating Windows based systems.
        </p>
        <aside style="float-left">
            <img src="http://www.hackthebox.eu/badge/image/174907" alt="Hack The Box" style="width: 256px" />
            <i>My HTB badge, looking more sad than usual lately</i>
        </aside>
    </section>
</main>