<main id="contact-main">
    <span><i class="fas fa-envelope"></i> <a href="mailto:matt@swarley.xyz" id="email-link">Send an email</a> to <code>matt@swarley.xyz</code></span>
    <span><i class="fab fa-discord"></i> Send a message to <code>swarley#0001</code> on Discord</span>
</main>