<!DOCTYPE html>
<html lang="en-us">
    <head>
        <!-- Display metadata -->
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#9932cc" />
        <meta name="description" content="Matthew Carey - Developer" />

        <!-- Information for bookmarks -->
        <link rel="apple-touch-icon" href="/logo256.png" />
        <link rel="manifest" href="/manifest.json" />
        <title>Matthew Carey</title>

        <!-- OpenGraph metadata -->
        <meta property="og:title" content="Matthew Carey - Developer" />
        <meta property="og:description" content="Learn about me and my projects." />
        <meta property="og:image" content="/logo256.png" />

        <!-- Stylesheets -->
        <link rel="stylesheet" href="/css/main.css?q=2" />  
        <link rel="stylesheet" href="/css/fontawesome.min.css" />
        <link rel="stylesheet" href="/css/brands.min.css" />
        <link rel="stylesheet" href="/css/solid.min.css" />
    </head>

    <body>
        {% render 'nav', current_page: page %}
        {{ content }}
        {% render 'footer' %}
    </body>
</html>