<main id="project">
    <section class="project-container">
        <h1 class="project-header">discordrb</h1>
        <p>
            haha rubytaco bad times
        </p>
    </section>
    <section class="project-container">
        <h1 class="project-header">eviler-winrm</h1>
        <p>
        evil time
        </p>
    </section>
</main>